.modal-body{
  height: 700px;
  width: 100%;
  overflow-y: auto;
}

.controles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  
  .controles button {
    width: 20px;
    height: 25px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
  }
  .controles {
    gap: 10px;
    padding-bottom: 10px;
  }
  
  .agregar-boton {
    width: 100px;
    height: 30px;
    font-size: small;
    background-color: #20bca0;
    color: white;
    border: 10px;
    border-radius: 4px;
  }
  
  .boton-agregar {
    display: flex;
    justify-content: center;
  }
  
  .boton-eliminar {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(165, 8, 8);
    border: 10px;
    border-radius: 4px;
    font-size: 25px;
  }

  