.navbar {
    background-color: #5c83a7;
  }
  
   .nav-link {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .nav-link-logout {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 600;
    list-style: none;
  }

  
   .nav-link:hover {
    color: black;
  }
  
  .logo-w {
    width: 110px;
  }

 
  
  .navbar-toggler {
    color: azure;
  }
  
  .nav-user {
    list-style:none;
  } 