.navbar {
  background-color: #5c83a7;
}

.nav-link {

  color: rgb(255, 255, 255);
  font-weight: 600;
}

.nav-link-logout {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 600;
  list-style: none;
}

.logo-w {
  width: 110px;
}